* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #faf6f6;
  height: 100vh;
}

/* Header */
.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eee;
}

.logo-wrapper {
  margin-left: 45px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo-text {
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
}

.logo-img {
  height: 40px;
  width: 40px;
}

.logo-text {
  margin-left: 10px;
  letter-spacing: 3px;
}

.theme-icon {
  margin-right: 55px;
}

.theme-img {
  height: 30px;
  cursor: pointer;
}

/* File Upload Section */
.layout-upload-files {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.upload-files-title {
  margin-top: 100px;
}

.upload-files-title-text {
  font-size: 25px;
  font-weight: 400;
  color: #505050;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 175, 211);
  width: 550px;
  height: 70px;
  border-radius: 45px;
  position: relative;
}

.btn-container:hover {
  background-color: rgb(109, 181, 209);
  cursor: pointer;
}

.btn-icon {
  position: absolute;
  top: 30%;
  left: 5%;
}

.btn-icon .fa.fa-plus {
  color: #fff;
}

.btn-label {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 550px;
  height: 70px;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}

#file-btn {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.external-repos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
}

.drive-btn,
.dropbox-btn,
.url-btn {
  border-radius: 50%;
  border: 1px solid rgb(159, 172, 177);
  background-color: #fff;
  padding: 10px;
  font-size: small;
  cursor: pointer;
}

.drive-btn:hover,
.dropbox-btn:hover,
.url-btn:hover {
  border: 1px solid rgb(32, 163, 214);
}
